/*
 * Copyright (c) 2023 Travis Mick
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE &kp N1   &kp N2   &kp N3 &kp N4 &kp N5                      &kp N6  &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
&kp TAB   &kp Q    &kp W    &kp E  &kp R  &kp T                       &kp Y   &kp U  &kp I     &kp O    &kp P    &kp EQUAL
&kp LSHFT &kp A    &kp S    &kp D  &kp F  &kp G                       &kp H   &kp J  &kp K     &kp L    &kp SEMI &kp SQT
&kp LCTRL &kp Z    &kp X    &kp C  &kp V  &kp B                       &kp N   &kp M  &kp COMMA &kp DOT  &kp FSLH &kp BSPC
          &kp LGUI &kp LALT &sl 1  &mo 1  &kp SPACE                   &kp RET &mo 1  &kp LBKT  &kp RBKT &kp BSLH
            >;
        };

        raise_layer {
            bindings = <
&kp ESC &kp F1    &kp F2   &kp F3    &kp F4      &kp F5               &kp F6       &kp F7      &kp F8       &kp F9 &kp F10 &kp F11
&trans  &kp PG_UP &kp UP   &kp PG_DN &bootloader &kp K_VOL_UP         &bt BT_SEL 0 &bootloader &kp INS      &trans &trans  &kp F12
&trans  &kp LEFT  &kp DOWN &kp RIGHT &reset      &kp K_VOL_DN         &bt BT_SEL 1 &reset      &trans       &trans &trans  &trans
&trans  &kp HOME  &trans   &kp END   &trans      &kp K_MUTE           &bt BT_SEL 2 &bt BT_CLR  &trans       &trans &trans  &kp DEL
        &trans    &trans   &trans    &trans      &trans               &trans       &trans      &out OUT_TOG &trans &trans
          >;

        };

    };
};
