if SHIELD_EGG58BT_LEFT

config ZMK_KEYBOARD_NAME
    default "egg58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EGG58BT_LEFT || SHIELD_EGG58BT_RIGHT

config ZMK_SPLIT
    default y

endif